{% extends 'contact/base.html' %}
{% load i18n %}

{% block contact_content %}
<h1>{% trans "Contacts" %}</h1>
{% if contact_list %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Message</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contact_list %}
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ contact.get_full_name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.get_message_count }}</td>
            <td>
                <a href="{%url 'contact:send_email' pk=contact.id %}">
                    <input type="button" class="btn btn-default" value="Send message">
                </a>
            </td>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No contacts to display.</p>
{% endif %}
{% endblock %}