{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load i18n %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/default-styles.css' %}"/>
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/integra_tiny.png' %}" class="d-inline-block align-top header-logo" alt="company-logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    {% show_menu 0 1 100 100 "menu_bootstrap4.html" %}
                    {% comment %} <a class="nav-item nav-link" href="#">{% trans "Home" %}</a>
                    <a class="nav-item nav-link" href="#">{% trans "Register" %}</a>
                    <span class="nav-item nav-link">|</span> 
                    <a class="nav-item nav-link" href="#">{% trans "Login" %}</a> {% endcomment %}
                    {% comment %} <form action="{% url 'set_language' %}" method="post">
                        <div class="input-group input-group-sm mt-1">
                            {% csrf_token %}
                            <select name="language" class="form-control" id="exampleFormControlSelect1">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    {{ language.code|upper }}
                                </option>
                                {% endfor %}
                            </select>
                            <div class="input-group-append">
                                {% blocktrans %}
                                <input type="submit" class="input-group-text" value="Go"/>
                                {% endblocktrans %}
                            </div>
                        </div>
                    </form> {% endcomment %}
                </div>
            </div>
        </nav>
        <div class="container">
        {% block content %}{% endblock content %}
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% render_block "js" %}
    </body>
</html>
